body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:lightgrey;
  }

.hidden {
    display: none;
}
  

.visible {
    display: block; 
}

.box{
    position: absolute;
    background-color: #5ebfbf;
    border-color: whitesmoke;
    border-style: solid;
}

#food{
    background-color: black;
}

#board{
    position: absolute;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame{
    position: absolute;
}

.border{
    border-width: 2vmin;
    border-radius: 1vmin;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
}

.title{
    font-size: 4vmin;
    background-color:black;
    padding: 1vmin;
    padding-right: 2vmin;
    padding-left: 2vmin;
    border-radius: .5vmin;
    position: absolute;
    color: white;
    margin: 1vmin;
    text-align: center;
}

.text{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
}

#score{
    position: absolute;
    font-size: 4vmin;
    top: -7vmin;
    width: 100%;
    text-align: right;

}



#sideBar {
    position: relative;
    top: 39vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1.25vmin;
}

button {
    flex: 1;
    padding: 1vmin;
    font-size: 3vmin;
    height: 100%;
    margin: 0 0vmin;
    transition: all .4s ease;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}